@model UserAuthCode?
@{
    ViewData["Title"] = "Inscription";

    string? errMsg = null;
    if(Model != null)
    {
        switch(Model)
        {
            case UserAuthCode.USER_ALREADY_EXISTS:
                errMsg = "L'utilisateur existe déjà";
                break;
            case UserAuthCode.BAD_EMAIL_FORMAT:
                errMsg = "Mauvais format d'email";
                break;
            case UserAuthCode.BAD_PASSWORD_FORMAT:
                errMsg = "Mauvais format de mot de passe";
                break;
            case UserAuthCode.NO_BIRTHDATE:
                errMsg = "Veuillez entrer votre date de naissance";
                break;
            case UserAuthCode.NO_FIRSTNAME:
                errMsg = "Veuillez entrer votre prénom";
                break;
            case UserAuthCode.NO_LASTNAME:
                errMsg = "Veuillez entrer votre nom de famille";
                break;
        }
    }
}
<div class="register">

    <div class="registerContainer">

        <h1>Inscription</h1>

        <form name="inscription" method="post">

            <p>
                Mail:<br/>
                <input type="email" name="email" required />
            </p>

            <p>
                Firstname:<br/>
                <input type="text" name="firstname" required />
            </p>

            <p>
                Lastname:<br/>
                <input type="text" name="lastname" required />
            </p>

            <p>
                Birthdate:<br/>
                <input type="date" name="birthdate" required />
            </p>

            <p>
                Password:<br/>
                <input type="password" name="passwd" required />
            </p>

            <button type="submit" class="btn btn-warning">Register</button>

            @if (errMsg != null)
            {
                <p>@errMsg</p>
            }

        </form>

    </div>
</div>
