@{
    ViewData["Title"] = "About us";
}

<h2 style="margin-top: 5%;">About us:</h2>
<div>
    <p style="font-size: 21px; font-weight: 300; color: darkgrey;">
        Nous sommes deux étudiants de Polytech Lyon GUILLET Théodore et ZIANI Shamsdine et avons réalisé ce site dans le cadre
        d'un projet final à réaliser avec le framework ASP.NET Core. 
    </p>
</div>



