/* Navbar styles */

.navbar {
    height: 80px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
a.navbar-brand > img {
    height: 24px;
    object-fit: cover;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Map styles
------------------------------------------------ */

#map {
    width: 100%;
    height: calc(100vh - 80px);
}

.mapVehiculeText {
    font-weight: 400;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

/* Register & Connexion styles
------------------------------------------------ */


.register, .connexion {
    color: rgb(0, 0, 0);
    background: #fff7e8;
    padding: 15px;
    top: 50%;
    left: 50%;
    border-radius: 12px;
    margin-top: 15%;
}

.registerContainer, .connexionContainer {
    text-align: center;
    overflow: auto;
    margin: auto;
}

/* Reserve/Car styles
------------------------------------------------ */

.returnButton{
    margin-top: 25%;
    text-align: right;
}

/* more styles
------------------------------------------------ */

img {
    width: 150px;
    height: auto;
}

h1{
    margin-top:5%;
}

.row{
    margin-top: 50px;
}

.text-center{
    margin-bottom: 8%;
}

.carousel{
    margin-left: 23%;
}